#navbar{
    overflow: hidden;
    background-color: #333;
    margin-left: 30px;
}
#navbar a{
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:17px;
    border-bottom: 4px solid rgb(173, 173, 173);
    border-width: 0px;
    transition: border-width .2s;
}
#navbar a:hover{
    background-color: #04AA6D;
    
    border-width: 4px;
}
*{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.active{
    border-bottom: 4px solid rgb(173, 173, 173) !important;
    border-bottom-left-radius: 2px;
}
.active:hover{
    background-color:#333 !important;
}
img{
    margin-left: 30px;
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;

}
.slides{
    width: 500%;
    height: 500px;
    display:flex;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    
  }
.slides input{
    display:none;

}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width:auto;
    height: 500px;
}

.navigation-manual{
    position:absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content:center;
}
.manual btn{
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s;

}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid rgb(169, 255, 147);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(0, 255, 42);
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(0, 255, 42);
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: rgb(0, 255, 42);
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: rgb(0, 255, 42);
  }
#logout{
    float:right !important;
}