@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body{
 background-image:url('img/bg.jpg');   
 
   color: #ccc;
  display:inline;
  max-width: 100%;
background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    min-height: 100vh;
    font-family:'poppins',sans-serif;
    line-height: 1.6;
  
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.hidden{
    display:none;
}
.wb-body{
    background: #3f3445;
    padding:20px;
    
}
.winbox{
    background: linear-gradient(90deg,#1c075c,#1bc712);
}
.wb-body{
    margin:4px;
    color:#fff;
}
a:link{
    color:red;
}
 a:hover{ 
     color: pink;
  background-color: transparent;
  text-decoration: none;
     
 }
 .a:visited{
     color: blue;
 }
 .desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 24px;
}

.desktop-elements {
    display: flex;
    flex-wrap: wrap;
}

.desktop-element {
    padding-bottom: 24px;
    flex: 50%;
}

.desktop-icon {
    width: 64px;
    height: 64px;
    filter: drop-shadow(2px 2px 2px white);
}
.desktop-icon-name {
    display: block;
    color: white;
    text-shadow: 2px 2px black;
}